.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 60px;
    padding: 16px;
    overflow-x: hidden;
    background-color: #145da7;
    color: white;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    color: white;
    padding: 16px;
}
  
.sidebar a:hover {
    color: #bedeff;
}

.active-link {
    color: red;
}